
header{
  width: 100%;
  background: black;
}

nav {
  display: inline-block;
  float: right;
  text-align: right;
}

.navbarItemsStyle{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
}

.logo{
  display: inline-block;
  padding: 20px 10px;
  color: white;
}

.TopImg{
  background: black;
  height: 975px;
  position: relative;
  background: #b51212;
  background: linear-gradient(135deg,rgba(0,0,0,.2) 0,#002d77 100%);
  background-image: linear-gradient(135deg,rgba(0,0,0,.2) 0,#000 100%),url('https://www.thespruceeats.com/thmb/DWCODJ01-jPtLhEityaZQoA4nZk=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/closed-oven-prime-rib-roast-method-995286-11_preview-5b041f9fa474be0037c063ba.jpeg');
  background-position: center;
  background-size: cover;

}

.TopImg h1{
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  font-size: 4rem;
}
